<html>
  <body>
    <h1>New message</h1>
    <form method="POST" action="/new">
      <label for="name">Name</label>
      <input name="name" id="name" type="text" />

      <label for="message">Message</label>
      <input name="message" id="message" type="text" />

      <button>Submit</button>
    </form>
  </body>
</html>
