<html>
  <body>
    <h3><%= title %></h3>
    <ul>
      <li><%= message.message %></li>
      <li><%= message.name %></li>
      <li><%= message.date%></li>
    </ul>
    <a href="/">
      <span>Go back</span>
    </a>
  </body>
</html>
